<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo provinces api</title>
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" />
  <link rel="stylesheet" href="/css/forgotPassword.css" />
  <body>
    <div class="container">
      <form action="/users/forgot-password" method="post">
        <h2>forgot-password</h2>
        <div class="form-group">
          <label for="email">Input your email:</label>
          <input type="text" id="email" name="email" required autocomplete="off" />
        </div>
        <button type="submit" class="submit-btn">submit</button>
      </form>
    </div>
    <!-- js -->
    <script src="/scripts/script.js"></script>
  </body>
</html>
