<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users/reset-password" method="POST">
      <input type="hidden" name="forgot_password_token" value="<%= forgot_password_token %>" />
      <label for="password">Nhập password mới:</label>
      <input type="password" name="password" required />

      <label for="confirm_password">Nhập lại password:</label>
      <input type="password" name="confirm_password" required />

      <button type="submit">Gửi</button>
    </form>
  </body>
</html>
