* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f29;
  position: relative;
}

.container .form {
  /* border: 1px solid blue; */
  width: 833px;
  height: 741px;
  border-radius: 12px;
  background-color: #ffff;
  opacity: 1;
  transition: opacity ease 0.4s;
}

.container .form.actived {
  opacity: 0;
  transition: opacity ease 0.4s;
}

.container .form .header {
  border-bottom: 2px solid #5d5fef;
  /* border: 1px solid red; */
  width: 753px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px 0;
}

.container .form .header .header-text {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #5d5fef;
  margin: 0 0 0 40px;
}

.container .form .form-content {
  /* border: 1px solid green; */
  width: 753px;
  height: 472px;
  margin: 5px 40px 0 40px;
}

.container .form .form-content .user-input {
  /* border: 1px solid red; */
  width: 753px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .form .form-content .user-input .input {
  /* border: 1px solid blue; */
  width: 363px;
  height: 47.92px;
  position: relative;
}

input {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 60px;
  /* border: none;
    outline: none; */
  font-size: 16px;
  /* border-bottom: 1.5px solid #5d5fef; */
  border-radius: 8px;
  border: 2px solid #d9d9d9;
  /* box-shadow: 10px; */
}

input::placeholder {
  color: #5d5fef;
}

.container .form .form-content .user-input .input .bx-user,
.bx-phone,
.bx-package,
.bx-edit {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 23px;
  color: #5d5fef;
}

.container .form .form-content .address-select {
  /* border: 1px solid red; */
  width: 753px;
  height: 72px;
  /* display: flex;
    align-items: center; */
}

.container .form .form-content .address-select .address-input {
  /* border: 1px solid blue; */
  width: 753px;
  height: 58.92px;
  position: relative;
  margin: 5px 0;
}

.bx-chevron-down {
  position: absolute;
  left: 710px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 23px;
  color: #5d5fef;
}

.bx-chevron-left {
  position: absolute;
  left: 710px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 23px;
  color: #5d5fef;
}
.container .form .form-content .address-select .select {
  border: 2px solid #d9d9d9;
  width: 753px;
  height: 400px;
  border-radius: 8px;
  opacity: 0;
  z-index: -100;
  transition: opacity ease 0.4s;
}
.container .form .form-content .address-select .select.open {
  border: 2px solid #d9d9d9;
  width: 753px;
  height: 400px;
  border-radius: 8px;
  opacity: 1;
  z-index: 100;
  transition: all ease 0.4s;
}

.address-select .select .option-header {
  /* border: 1px solid blue; */
  width: 751px;
  height: 60px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}

.address-select .select .option-header .provinces {
  /* border: 1px solid green; */
  border-right: 2px solid #d9d9d9;
  width: 251px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #5d5fef; */
  color: #afafaf;
  transition: all ease 0.3s;
}

.address-select .select .option-header .provinces.actived {
  color: #5d5fef;
  transform: translateX();
}

.address-select .select .option-header .districts {
  border-right: 2px solid #d9d9d9;
  width: 251px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #5d5fef; */
  color: #afafaf;
  transition: all ease 0.3s;
}

.address-select .select .option-header .districts.actived {
  color: #5d5fef;
  transform: translateX();
}
.address-select .select .option-header .wards {
  border-right: 1px solid #d9d9d9;
  width: 251px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #5d5fef; */
  color: #afafaf;
  transition: all ease 0.3s;
}
.address-select .select .option-header .wards.actived {
  color: #5d5fef;
  transform: translateX();
}

.address-select .select .options {
  /* border: 1px solid rgb(31, 156, 0); */
  height: 336px;
  width: 749px;
  overflow: auto;
  position: absolute;
}

.options-provinces {
  z-index: 3;
}

.options-districts {
  z-index: 2;
}

.options-wards {
  z-index: 1;
}

.options-provinces.actived {
  z-index: 0;
  opacity: -100;
}

.options-districts.actived {
  z-index: -1;
  opacity: -100;
}

.options-wards.actived {
  z-index: -2;
  opacity: -100;
}

.address-select .select .option {
  /* border: 1px solid red; */
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.address-select .select .option:hover {
  background-color: #5d5fef9d;
}

.container .form .form-content .hidden {
  /* border: 1px solid red; */
  height: 500px;
  width: 753px;
  position: absolute;
}

.container .form .form-content .hidden.actived {
  z-index: -3;
  opacity: 0;
}

.container .form .form-content .hidden .more-detail {
  /* border: 1px solid blue; */
  width: 753px;
  height: 58.92px;
  position: relative;
  margin-top: 5px;
}

.container .form .form-content .hidden .more-detail #detail-input {
  width: 100%;
  height: 100%;
}

.container .form .form-content .hidden .picking-form {
  /* border: 1px solid blue; */
  /* width: 500px; */
  width: 753px;
  height: 107px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.container .form .form-content .hidden .picking-form .picking-btn {
  /* border: 1px solid red; */
  height: 77px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.container .form .form-content .hidden .picking-form .picking-btn .btn {
  /* border: 1px solid blue; */
  width: 201px;
  height: 46px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
  color: #5d5fef;
  margin-right: 30px;
}

.container .form .form-content .hidden .submit-btn {
  /* border: 1px solid blue; */
  width: 201px;
  height: 46px;
  position: relative;
  left: 560px;
  top: 230px;
  /* 
    height: 500px;
    width: 753px; */
}

.container .form .form-content .hidden .submit-btn button {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #4547c2;
  transition: all ease-in-out 0.3s;
  font-size: 15px;
  font-weight: 500;
  color: #ffff;
  outline: none;
  border: none;
}

.container .form .form-content .hidden .submit-btn button:hover {
  background-color: #5d5fef;
}

/*  */

.info-form {
  /* border: 1px solid red; */
  width: 500px;
  height: 250px;
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  /* transform: translate(-50%, -50%); */
  /* background-color: #ffffff8c; */
  background-color: #ffff;
  border-radius: 12px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all ease 1s;
}

.info-form.actived {
  transform: translate(-50%, -50%);
  transition: all ease 1s;
}

.info-form .header {
  /* border: 1px solid red; */
  border-bottom: 2px solid #5d5fef;
  width: 500px;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-form .header .header-text {
  /* border: 1px solid blue; */
  margin: 0 0 0 20px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #5d5fef;
}

.info-form .user-box {
  /* border: 1px solid red; */
  width: 500px;
  height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-form .user-box .info-box {
  /* border: 1px solid blue; */
  /* display: flex; */
  width: 452px;
  height: 153px;
}

.info-form .user-box .info-header {
  /* border: 1px solid red; */
  width: 452px;
  height: 25px;
  display: flex;
  align-items: center;
}

.name,
.phone {
  /* border: 1px solid black; */
  margin-right: 20px;
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #5d5fef;
  display: inline-block;
}

.address-text {
  /* border: 1px solid black; */
  width: 452px;
  /* height: 50px; */
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #5d5fef;
  padding: 35px 0 10px 10px;
}

.info-detail {
  /* border: 1px solid black; */
  width: 452px;
  /* height: 50px; */
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5d5fef;
  padding: 5px 0 0 10px;
}

.info-address {
  /* border: 1px solid black; */
  width: 452px;
  /* height: 50px; */
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5d5fef;
  padding: 5px 0 0 10px;
}
